div#wrapper {
    width: 50%;
    position: relative;
    width: 352px;
    margin: auto;
        height: 222px;
  }
  
  .creditcard {
    position: absolute;
    top: 0;  
    left: 0;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@font-face {
  font-family: CreditCardFont;
  src: url(../public/CreditCardFont.ttf);
}

@media (prefers-reduced-motion: no-preference) {
  .button-pending {
    animation: button-pending-spin infinite 2s linear;
  }
}

@keyframes button-pending-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
